function Main.main 0
push constant 0
push constant 0
call Screen.drawPixel 2
pop temp 0
push constant 50
push constant 50
call Screen.drawPixel 2
pop temp 0
push constant 150
push constant 150
call Screen.drawPixel 2
pop temp 0
push constant 0
return
